<div class="uiSmithing">
	<div class="heading">
			<div class="heading-text">craft item</div>
		</div>
	<div class="bottom">
		<div class="col">
			<div class="heading">action</div>
			<div class="content">
				<div class="col-btn col-half selected" action="augment">augment</div>
				<div class="col-btn col-half" action="reroll">reroll</div>
				<div class="col-btn col-half" action="relevel">relevel</div>
				<div class="col-btn col-half" action="reslot">reslot</div>
				<div class="col-btn col-half" action="reforge">reforge</div>
				<div class="col-btn col-half" action="scour">scour</div>
			</div>
		</div>
		<div class="col">
			<div class="heading">item</div>
			<div class="content item-picker">
				<div class="icon"></div>
			</div>
		</div>
		<div class="col">
			<div class="heading">material</div>
			<div class="content material"></div>
		</div>
		<div class="col">
			<div class="heading">success</div>
			<div class="content chance"></div>
		</div>
		<div class="col">
			<div class="heading"></div>
			<div class="content actionButton disabled">
				<div class="icon"></div>
			</div>
		</div>
	</div>
</div>
